.reveal section img {
    border: 0px;
    box-shadow: none;
}


.left-col {
    width: 50%;
    float: left;
}

.right-col {
    width: 50%;
    float: right;
}

.clear-col {
    float: none;
    clear: both;
}
