.reveal section img {
    border: 0px;
    box-shadow: none;
}

.left-col {
    width: 50%;
    float: left;
}

.right-col {
    width: 50%;
    float: right;
}

.clear-col {
    float: none;
    clear: both;
}

.small-table td {
    border: 0px;
    font-size: 24px;
    margin: 0px;
}

p.small,
a.small {
    font-size: 20px;
}

.small td,
.small th {
    font-size: 32px;
}

/* Custom Coding Style */
code {
    color: #22F;
}

code.small {
    font-size: 16px;
    line-height: 18px;
}

code.medium {
    font-size: 18px;
    line-height: 20px;
}


/* Padding Styles */

.low-padding p,
.low-padding img {
    margin: 0px !important;
}


/* Images */
img[alt="perceptron_learning"] {
    zoom: 0.5; /* all browsers */
    -moz-transform: scale(0.5);  /* Firefox */
}

img[alt="rnn-diagram"] {
    width: 512px;
}

img[alt="perceptron"] {
    width: 600px;
}

img[alt="char_perceptron"] {
    width: 600px;
    margin: 0px;
    padding: 0px;
}

img[alt="char_perceptron_filled"] {
    width: 400px;
    margin: 0px;
    padding: 0px;
}

img[alt="nn_chars_filled_in"] {
    width: 600px;
}

img[alt="weight_matrix"] {
    width: 600px;
}

img[alt="gradient_descent"] {
    width: 500px;
}

img[alt="rnn_diagram"] {
    width: 400px;
}

img[alt="deep_rnn_diagram"] {
    width: 600px;
}

img[alt="tensorflow"] {
    width: 400px;
}

img[alt="nn_backprop_algebra"] {
    width: 550px;
}

/* Library Icons */

img[alt="icon_tensorflow"] {
      width: 100px;
      padding: 0px 32px 0px 32px;
}
img[alt="icon_keras"] {
      width: 100px;
      padding: 0px 32px 0px 32px;
}
img[alt="icon_caffe"] {
      width: 250px;
      padding: 0px 32px 0px 32px;
}
img[alt="icon_pytorch"] {
      width: 200px;
      padding: 0px 32px 0px 32px;
}
img[alt="icon_theano"] {
      width: 200px;
      padding: 0px 32px 0px 32px;
}
